.background-image {
  background-image: url("../images/Final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.card {
  background-color: rgba(128, 128, 128, 0.2);
}

.form-group:last-of-type {
  margin-bottom: 20px;
}

.text-black {
  color: #000;
  font-weight: bold;
}


.custom-container {
  display: flex;
  justify-content: center;
}

.custom-spinner {
  height: 70px;
  width: 70px;
  left: 50%;
}
